<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= tag :meta, name: "channel_token",
        content: Phoenix.Token.sign(@conn, "creds", ProjectStatus.Credentials.encoded) %>

    <title>Project Status</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>

    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Project Status</a>
        </div>

        <%= if Guardian.Plug.current_token(@conn) do %>
          <div class="navbar-right">
            <%= button("Sign out", to: session_path(@conn, :delete), method: :delete, class: "btn navbar-btn btn-default") %>
          </div>
        <% end %>
      </div>
    </nav>

    <div class="container" role="main">
      <p id="flashed">&nbsp;</p>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <%= @inner %>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>require("web/static/js/app")</script>
  </body>
</html>
