<h2>Projects</h2>

<%= for project <- @projects do %>
  <div class="project">
    <%= link project.name, to: project_path(@conn, :show, project) %>
  </div>
<% end %>

<div class="project">
  <%= link raw("<i class=\"fa fa-plus\"></i> Create new project"), to: project_path(@conn, :new), class: "add" %>
</div>
