use Mix.Config

config :project_status,
  mailgun_domain: "https://api.mailgun.net/v3/DOMAIN_HERE",
  mailgun_key: "key-KEY_HERE"

config :project_status,
  trello_token: "TRELLO-TOKEN",
  trello_key: "TRELLO-KEY"

config :ueberauth, Ueberauth.Strategy.Github.OAuth,
 client_id: "GITHUB-OAUTH-CLIENT-ID",
 client_secret: "GITHUB-OAUTH-CLIENT-SECRET"

config :honeybadger,
 api_key: "HONEYBADGER-API-KEY"

config :project_status, ProjectStatus.Repo,
  username: System.get_env("POSTGRES_USER"),
  password: System.get_env("POSTGRES_PASSWORD")
