form#new_status_email{
  fieldset {
    margin: 1em 0;
  }
  textarea {
    width: 40em;
    height: 20em;
  }
}

form#new_project_email_recipient{
    .errors {
      color: red;
    }
  fieldset {
  }
}


form#new_project_email_recipient .submitting input, #recipient_list .submitting{
    border: dashed 5px pink;
}

fieldset{
  width: 24em;
  &.errored{
    border: solid 2px red;
  }
}
 
#email_recipients ul#recipient_list {
   li {
     .recipient {
      width: 20em;
      display: inline-block;
     }
     margin: 0.5em 0;
   }
}