form#new_project_email_recipient, form#new_status_email{
    .errors {
      color: red;
    }
    &.errored{
      border: solid 2px red;
  }
}

form#new_project_email_recipient.submitting {
    border: 1px cyan dashed;
    background: #eee;
}

.divider {
  color: #CCC;
}
