#new_project_email_recipient {
  border: 1px solid #eee;
  padding: 1em 1em 0 1em;
  border-radius: 4px;

  label {
    display: block;
  }

  input[type="text"] {
    width: 100%;
    border: 1px solid #E8E8E8;
    border-radius: 4px;
    padding: 0.2em;

    &:focus {
      border: 1px solid #51A7E8;
      outline: none;
      box-shadow: 0 0 2px 2px #DBECFA;
    }
  }

  .btn-primary {
    margin-top: 1.9em;
  }
}


#recipient_list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    border-radius: 4px;
    background-color: #FAFAF8;
    margin: 0.5em 0;
    padding: 0.5em 1em;

    .btn {
      float: right;
    }
  }
}
