use Mix.Config

config :{{app_name}}, {{ app_endpoint_module }},
  secret_key_base: "{{ secret_key_base }}"


config :{{ app_name }}, {{ app_repo_module }},
  adapter: Ecto.Adapters.Postgres,
  username: "{{ database_user }}",
  password: "{{ database_password }}",
  database: "{{ database_name }}",
  size: 20

config :project_status,
       mailgun_domain: "MAILGUN DOMAIN HERE",
       mailgun_key: "MAILGUN KEY"

config :basic_auth, realm: "Project Status", username: "BASIC AUTH USERNAME", password: "BASIC AUTH PASSSWORD"

config :project_status, trello_token: "A TRELLO TOKEN", trello_key: "A TRELLO KEY"
